//background



//border



//buttons
$primary:#225560;
$secondary:#310d20;
$danger:#ba1200;
$warning:#ffba08;
$success:#3f88c5;


//layout
$main-white: #fff;
$main-grey: #919191;
$main-black: #000;
$main-red: rgb(248, 7, 7);
$main-greyy: #f6f8f7;
$footer: #2e2b2b;
$boxes: #f5f7f6;
$values: #2e2b2b;
$icons-color: #5d9c5a;
$titles: #7b7b7b;
$list-names: #353131;
$list-time: #797373;



