@font-face {
    font-family: poppins;
    src: url('../../fonts/Poppins.ttf');
}

@font-face {
    font-family: jura;
    src: url('../../fonts/Jura.ttf');
}

@font-face {
    font-family: berk;
    src: url('../../fonts/BerkshireSwash.ttf');
}

@font-face {
    font-family: audio;
    src: url('../../fonts/Audiowide.ttf');
}

@font-face {
    font-family: sans;
    src: url('../../fonts/SansitaSwashed.ttf');
}


